<h3>Student form: </h3>

<%= form_for @student do |s| %>
  <label>Student first name:</label>
  <%= s.text_field :first_name %><br>

  <label>Student last name:</label>
  <%= s.text_field :last_name %><br>

  <br><br>

  <%= s.submit %>
<% end %>
