<h3>School Class form: </h3>

<%= form_for(@school_class) do |s| %>
  <label>Title:</label><br>
  <%= s.text_field :title %><br>

  <label>Room number:</label><br>
  <%= s.number_field :room_number %><br>

  <br><br>

  <%= s.submit %>
<% end %>
