<h3>School Class form: </h3>

<%= form_for @school_class do |s| %>
  <label>Student class:</label>
  <%= s.text_field :title %><br>

  <label>Student room number:</label>
  <%= s.number_field :room_number %><br>

  <br><br>

  <%= s.submit %>
<% end %>
